[user]
	name = sebpalluel
	email = sebpalluel@free.fr
[core]
	excludesfile = /Users/psebasti/.gitignore_global
[github]
	user = sebpalluel
[ghi]
	token = !security find-internet-password -a sebpalluel -s github.com -l 'ghi token' -w
