#ignore everything
/*

# But not these files...
!.gitignore
!.gitignore_global
!.git/
!.gitconfig
!.vim/
!.vimrc
!.zshrc
!.atom/
!.bashrc
!.bash_profile
!.gdbinit
!.ctagsignore
!ohmyzsh/
!bin/
!install_dependencies.sh
!README.md
!hybrid_iterm_color.itermcolors
.vim/installed.dummy
.vim/Vundle.vim/
# etc...
